# Gradle
.gradle/
.gradle-home/
gradle/wrapper/*.zip
**/build/
out/
classes/
publish/

# Test
run/
logs/
crash-reports/
hs_err_pid*
replay_pid*

# Java
*.class
*.war
*.ear

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
*.code-workspace
bin/

# Git
.shelf/

# others
.tmp/
开发日志.md
